{% extends 'mysite/base.html' %}

{% block content %}

    <br>

    <div class="wrapper">
        <section id='Para1'>
            <h4 align="center"><b>Reach me</b></h4>
            <p align="center">
                Well, I know emails can be old-fashioned but I still prefer old school :) <br>
                You can leave me your mails on sumukagummaraju@gmail.com <br>
                Click on my social media links on the top right of the page to directly connect with me. <br>

                Your suggestions and feedback are valuable to me !
                <br>
                And do not forget to wish me on 21st of January.

            </p>
        </section>
    </div>



      {% endblock %}