{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}

    <br>

    <div class="wrapper">
        <section id='Para1'>
            <h2 align="center"><b>Hey there, Thanks for showing Interest</b></h2>

            <div class="row">

                <div class="col-8">

                    <p align="justify">I'm Sumuka Gummaraju, a student of the SRH Hochschule Heidelberg, Germany. I'm
                        currently pursuing my Master's in Computer Sciences, majoring in Business Informatics.
                        I graduate in October 2020. I am open to full-time opportunities in the data science and machine
                        learning space.
                        <br>
                         <br>Feel free to navigate through the page, and get to know me better. Provided on the top-right are
                        my social media links that directs you to my profile, in case you want to get in touch.


                    </p>


                </div>

                <div class="col-4">

                    <img src=" {% static 'mysite/images/profile.jpg' %}" alt="" height="100%" width="100%">
                </div>
            </div>


        </section>

        <section id='Para2'>
            <h2 align="center"><b>What I do</b>?</h2>

            <p align="justify">I moved to Heidelberg in October 2018.  I am currently employed as a Thesis Student by Siemens AG.
                <a href="{% url 'portfolio' %}">here</a> <br>
                Apart from my university work, I believe in keeping myself busy by studying new technology, and believe
                in the concept of "Learn by doing". This website was created as a small project in my leisure time to keep
                myself going with Django, HTML, CSS, Java Script and ChartJs.
                <br>

            </p>
        </section>
    </div>

{% endblock %}