{% extends 'mysite/base.html' %}
{% load static %}

{% block content %}

    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav id="navbar-example3" class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#"></a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="#item-1"><b>Work Experience</b></a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#item-1-1">- Thesis Student</a>
                            <a class="nav-link ml-3 my-1" href="#item-1-2">- Working Student</a>
                            <a class="nav-link ml-3 my-1" href="#item-1-3">- Working Student</a>
                            <a class="nav-link ml-3 my-1" href="#item-1-4">- Intern</a>
                        </nav>
                        <a class="nav-link" href="#item-2"><b>Education</b></a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#item-2-1">- Masters</a>
                            <a class="nav-link ml-3 my-1" href="#item-2-2">- Bachelors</a>
                        </nav>
                        <a class="nav-link" href="#item-3"><b>Skillsets</b></a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#item-3-1">- Technical</a>
                            <a class="nav-link ml-3 my-1" href="#item-3-2">- Non Technical</a>
                            <a class="nav-link ml-3 my-1" href="#item-3-3">- Language</a>
                        </nav>
                        <a class="nav-link" href="#item-4"><b>Apart from Academics</b></a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ml-3 my-1" href="#item-4-1">- Table Tennis</a>
                            <a class="nav-link ml-3 my-1" href="#item-4-2">- Editor</a>
                        </nav>
                    </nav>
                </nav>

            </div>


            <div class="col-md-9">
                <div class="wrapper">
                    <section id='Para1'>
                        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
                            <h4 id="item-1"><b>Work Experience</b></h4>
                            <p>
                                Carrying a fresh mind in the field of computer science. I love to work with new
                                technologies based on Data Science and Analytics.
                                Following are my work experiences.
                            </p>

                            <h5 id="item-1-1"><b>Thesis Student - Siemens AG, Karslruhe, Germany</b></h5>
                            <p align="left">
                                <b>Duration : Apr '20 - Sep '20</b>
                            <ul>
                                <li>Predictive maintenance and anomaly detection in context of Industrial Internet of Things (IIoT)</li>
                                <li>Research unsupervised machine learning algorithms to fit sensor data</li>
                                <li>Edge Computing</li>
                                <li>Tools: Python, Pandas, Seaborn, Keras, TensorFlow</li>
                            </ul>
                            </p>

                            <h5 id="item-1-2"><b>Working Student - Siemens AG, Mannheim, Germany</b></h5>
                            <p align="left">
                                <b>Duration : Oct '19 - Mar '20</b>
                            <ul>
                                <li>Implemented deep learning model for text classification - Document AI system </li>
                                <li>Used Natural Language Processing libraries with Word Embeddings</li>
                                <li>Visualized and Tracked metrics of model performance</li>
                                <li>Tools: Python, Pandas, Seaborn, NLTK, Word2Vec, GloVe, Keras, TensorFlow, TensorBoard</li>
                            </ul>
                            </p>


                            <h5 id="item-1-3"><b>Working Student - Geomer GmbH, Heidelberg, Germany</b></h5>
                            <p align="left">
                                <b>Duration : Feb '19 - June '19</b>
                                 <ul>
                                <li>Developed python scripts to automate processes to download Traffic and weather data
                                    from local as well as remote FTP Servers.</li>
                                <li>Cleaned, analysed and developed data models for traffic, weather data</li>
                                <li>Query optimization and extraction of relevant information with RDBMS</li>

                                <li>Tools : PostgreSQL, Python</li>
                            </ul>
                            </p>

                            <h5 id="item-1-4" ><b>Intern - Prasara Innotech Pvt. Ltd, Bangalore, India</b></h5>
                                <p align="left">
                                    <b>Duration : Aug '17 - Sep '17</b>

                                    <ul>
                                        <li>Worked on Django Framework to develop models and application logic for Inventory
                                            management system.
                                        </li>
                                        <li>Tools : MySQL, Django(Python web framework), HTML, CSS, JavaScript</li>
                                    </ul>
                                </p>


                        </div>
                    </section>

                    <section id='Para2'>
                        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
                            <h4 id="item-2"><b>Education</b></h4>
                            <p>

                            </p>
                            <h5 id="item-2-1"><b>Masters, Applied Computer Science</b></h5>
                            <h6><b>SRH Hochschule, Heidelberg  </b></h6>
                            <h6><b>Oct '18 - Oct '20</b></h6>
                            <p align="left">

                            </p>
                            <ul>
                                <li><b>Information Systems, Software Development, Project Mangagement, AI, HANA, IT Security</b></li>
                                <li>Recipient of the STIBET Scholarship 2020 for international commitment to fellow students <a
                                        href="https://www.linkedin.com/in/sumukagummaraju/detail/recent-activity/shares/"
                                        target="_blank">(view)</a></li>
                                <li>Editor for Wir-online University magazine</li>
                            </ul>

                            </p>
                            <h5 id="item-2-2"><b>Bachelors, Computer Science</b></h5>
                            <h6><b>BNM Institute of Technology, under Visvevaraya Technological University</b></h6>
                            <h6><b>Aug '14 - Jul '18</b></h6>
                            <p align="left">

                            </p>
                            <ul>
                                <li><b>Data Structures, Algorithms, Software Engineering, Databases, AI, Software Architecture</b> </li>
                                <li>Presented technical seminar on " Supply chain network on cloud manufacturing
                                    environment using collective intelligence and Q-learning ".
                                    <a href="{% static 'mysite/images/Technical Seminar Sumuka.pdf' %}" target="_blank">(download)</a>
                                <li>Secured second Place in IEEE technical Quiz competition</li>
                                <li>Chief Editor for computer science department newsletter ,, SHELL ’’</li>
                                <li>Sports Ambassador for the year 2017-18</li>
                                </li>

                            </ul>
                        </div>
                    </section>

                    <section id='Para3'>
                        <h4 id="item-3"><b>Skillsets</b></h4>


                        <p>
                            I have described my skillsets in the form of graphs, which are easier to understand
                        </p>
                        <h5 id="item-3-1"><b>Technical Skills</b></h5>
                        <div class="column" align="center">
                            <canvas id="TechnicalChart" width = "350px" height = "250px" ></canvas>
                        </div>


                        </p>
                        <h5 id="item-3-2"><b>Non Technical Skills</b></h5>
                        <br>
                        <div class="column" align="center">
                            <canvas id="NonTechnicalChart" width="650px" height="300px"></canvas>
                        </div>

                        <br>
                        <h5 id="item-3-3"><b>Language Skills</b></h5>
                        <br>
                        <div class="column" align="center">
                            <canvas id="LanguageChart" width="650px" height="300px"></canvas>
                        </div>

                        <div>

                        </div>


                    </section>

                    <section id='Para4'>
                        <div data-spy="scroll" data-target="#navbar-example3" data-offset="0">
                            <h4 id="item-4"><b>Extra-curricular Activities</b></h4>
                            <p>
                                Apart from my studies, I also enjoy taking part in a lot of sporting activities such as
                                Table tennis, Badminton and Jogging.
                                These activities relax my mind. I also have trained in Indian Classical Music.
                            </p>
                            <h5 id="item-4-1"><b>Table Tennis</b></h5>

                            <ul>
                                <li>Won various events at the University and State Level (Karnataka)</li>
                                <li>Represent TSG 1878 Heidelberg in 2nd League, Baden Württemberg <a
                                        href="https://www.mytischtennis.de/clicktt/BaTTV/18-19/spieler/237079/spielerportrait"
                                        target="_blank">Profile</a></li>
                                <li>Awarded BNM Sports Ambassador for the year 2017-18</li>

                            </ul>

                            </p>

                            <h5 id="item-4-2"><b>Content Writing</b></h5>
                            At my time at Heidelberg, I started to write for the University magazine.
                            The best form of creativity comes out as writing. I tend to write when my mind is relaxed.
                            Some of my writings have received a lot of praise from the International diaspora at Heidelberg,
                            and has received recognition from DAAD and the Auswärtiges Amt.

                            <br>
                            <br>

                            <ul>
                                <li><b>International Student? Deutsch ist wichtig !</b> <br> <a href="https://wir-online.news/international-student-deutsch-ist-wichtig/"
                                                          target="_blank">Read more...</a></li>
                                <li><b>Heidelberg at First sight </b><br> <a href="https://wir-online.news/heidelberg-at-first-sight/"
                                                          target="_blank">Read more...</a></li>
                                <li>The AI Takeover <br> <a href="{% static 'mysite/images/7SemNewsletter.pdf' %}"
                                                            target="_blank">Read more...</a></li>

                                <li>Depth Sense Imaging System <br> <a
                                        href="{% static 'mysite/images/8SemNewsletter.pdf' %}" target="_blank">Read
                                    more...</a></li>


                            </ul>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <script>

        var ctx = document.getElementById('TechnicalChart');
        var TechnicalChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: ['Python', ['Databases and Querying'], ['HTML,CSS,Javascript'], ['Natural Language Processing'], ['Data Science & Machine Learning']],
                datasets: [{
                    label: 'Now',
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor: ['rgba(54, 162, 235, 1)'],
                    data: [7, 7, 5, 5,6]
                },
                    {
                        label: 'My Aim in 1 Year',
                        backgroundColor: ['rgba(255, 99, 132, 0.2)',],
                        borderColor: ['rgba(255, 99, 132, 1)'],
                        data: [10, 9, 8, 8, 9]
                    }]
            },
            options: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: false,
                    text: 'Technical Skills'
                },
                scale: {
                    ticks: {
                        beginAtZero: true
                    }
                }
            }
        });


        var ctx = document.getElementById('NonTechnicalChart');
        var NonTechnicalChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: [['Data','Visualization'], ['Content','Writing'], 'Communication ', ['Organizational','Capabilities'], ['Urge to','learn']],
                datasets: [{
                    label: 'Non-Technical Skills',
                    data: [7, 10, 9, 9, 8],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend:
                    {
                        display:false,
                    },
                title: {
                    display: false,
                    text: 'Non-Technical'
                },
                responsive: false,
                scales: {

                    xAxes: [{
                        maxBarThickness: 100,
                        ticks: {
                            beginAtZero: true,
                            suggestedMax: 10
                        }
                    }]
                }
            }
        });

        var ctx = document.getElementById('LanguageChart');
        var LanguageChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ['English', 'German', 'Telugu', 'Kannada', 'Hindi', 'Tamil'],
                datasets: [{
                    label: 'Language Fluency',
                    data: [9, 6, 8, 8, 8, 7],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend:
                    {
                        display:false,
                    },
                responsive: false,
                scales: {

                    xAxes: [{
                        ticks: {
                            beginAtZero: true,
                            suggestedMax: 10
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            barPercentage: 1
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}





